# Node modules
node_modules/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Model files (if large)
*.pkl
*.joblib

# Database
*.sqlite3
